
<h2 class=" text-main text-center p-3">Forget Password</h2>

<!--------------  email  ------------>

@if(!isCodeForm && !isNewPassForm){
  <div class=" w-50 mx-auto">
    <form action="" class=" p-3" [formGroup]="emailForm" (ngSubmit)="verifyBtn()">
      <label for="email" class="form-label">Email</label>
      <input  formControlName="email"
      type="text" id="email" class="form-control" aria-describedby="email">
      @if (emailForm.get('email')?.errors && emailForm.get('email')?.touched) {
        <div class="alert alert-danger">
          @if (emailForm.get('email')?.errors?.['required']) {
            <p>Email is required</p>
          }
          @else if (emailForm.get('email')?.errors?.['email']) {
            <p>Enter correct Email</p>
          }
        </div>
      }
    </form>
    <button type="submit" class=" btn text-white bg-main px-3 py-2 rounded-3 ms-3">Verify</button>

  </div>
}



<!--------------  verify code  ------------>

@if(isCodeForm){
  <div class=" w-50 mx-auto">
    <form action="" class=" p-3" [formGroup]="codeForm" (ngSubmit)="codeBtn()">
      <label for="code" class="form-label">Code</label>

      <input  formControlName="resetCode"
      type="text" id="code" class="form-control" aria-describedby="email">

      @if (codeForm.get('resetCode')?.errors && codeForm.get('resetCode')?.touched) {
        <div class="alert alert-danger">
          @if (codeForm.get('resetCode')?.errors?.['required']) {
            <p>resetCode is required</p>
          }
        </div>
      }
    </form>
    <button type="submit" class=" btn text-white bg-main px-3 py-2 rounded-3 ms-3">send code</button>
  </div>
}

<!--------------  new password  ------------>


@if(isNewPassForm)
{
  <div class=" w-50 mx-auto">
    <form action="" class=" p-3" [formGroup]="resetPassForm" (ngSubmit)="newPassBtn()">
      <label for="email" class="form-label">Email</label>
      <input  formControlName="email"
      type="text" id="email" class="form-control" aria-describedby="email">
      @if (resetPassForm.get('email')?.errors && resetPassForm.get('email')?.touched) {
        <div class="alert alert-danger">
          @if (resetPassForm.get('email')?.errors?.['required']) {
            <p>Email is required</p>
          }
          @else if (resetPassForm.get('email')?.errors?.['email']) {
            <p>Enter correct Email</p>
          }
        </div>
      }

      <label for="pass" class="form-label">New Password</label>
      <input  formControlName="newPassword"
      type="password" id="pass" class="form-control" aria-describedby="pass">
      @if (resetPassForm.get('newPassword')?.errors && resetPassForm.get('newPassword')?.touched) {
        <div class="alert alert-danger">
          @if (resetPassForm.get('newPassword')?.errors?.['required']) {
            <p>newPassword is required</p>
          }
          @else if (resetPassForm.get('newPassword')?.errors?.['pattern']) {
            <p>Enter correct newPassword</p>
          }
        </div>
      }

    </form>
    <button type="submit" class=" btn text-white bg-main px-3 py-2 rounded-3 ms-3">Send</button>

  </div>

}
