
<div class=" w-75 d-flex h-25 m-5">
  <div class=" w-50 h-25 ">
    <owl-carousel-o [options]="customOptions">

      @for (item of myProduct.images; track $index) {
        <ng-template carouselSlide>
          <img class=" img-fluid" [src]="item" >
        </ng-template>
      }

    </owl-carousel-o>
  </div>
  <div class=" w-25 d-flex flex-column m-5 gap-4 justify-content-center">

      <h1 class=" fw-bold text-main bg-body-tertiary px-2 text-center">{{myProduct.title }}</h1>
      <h3> <span class=" fw-bold">Describtion: </span> {{myProduct.description}}</h3>
      <h2><span class=" fw-bold">Name: </span>{{myProduct.category.name}}</h2>

  </div>
</div>
